<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bokecc.learn.dao.RoleMapper">
    <select id="getRoleById" parameterType="java.lang.Long" resultType="role">
        select 1 as id,'abc' as name
    </select>
</mapper>